.myModal{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0,0,0,0.5);
	z-index: 22;
}

.myModalContent{
	background-color: white;
	padding: 20px;
	border-radius:10px ;
	min-width: 550px;
	border: 2px solid teal;
}

.myModal.active{
	display: flex;
	justify-content: center;
	align-items: center;
	
}